@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

body {
    font-family: 'Inknut Antiqua', serif;
    background-color: #99ff7f;
}
nav {
    background-color: #1f5b25;
    padding: 15px;
    position: fixed;
}

nav a{
    color:white;
    margin: 15px;
}

nav a:hover{
    color:white;
    text-decoration: none;
}